<div class="col-lg-4 d-none d-md-block d-lg-block w-100">
  <aside class="sidebar sticky-top">
    <h2 class="h4">Quick Links</h2>
    <ul>
      <li><a href="https://www.linkedin.com/in/i-bm/" target="_blank"><img class="rounded"
            src="../assets/img/icons/linkedin.png" width="20" alt="LinkedIn" />&nbsp;&nbsp;LinkedIn</a></li>
      <li><a href="#" target="_blank"><img class="rounded" src="../assets/img/icons/twitter.png" width="20"
            alt="twitter" />&nbsp;&nbsp;Twitter
        </a> </li>
      <li><a href="https://github.com/i-bm" target="_blank"><img class="rounded" src="../assets/img/icons/github.png"
            width="20" alt="GitHub" />&nbsp;&nbsp;GitHub</a></li>
    </ul>

    <h2>Categories</h2>
    <ul>
      <li><a href="#">Java</a></li>
      <li><a href="#">Databases</a></li>
      <li><a href="#">Angular</a></li>
      <li><a href="#">APIs</a></li>
      <li><a href="#">Docker</a></li>
      <li><a href="#">Spring Boot</a></li>
      <li><a href="#">Html</a></li>
      <li><a href="#">CSS</a></li>
    </ul>
  </aside>
</div>
