<app-navigation></app-navigation>

<div class="row  profile">
  <div class="col-lg-5  mx-auto text-center">
    <img src="../assets/img/isaac.jpg" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>Developer Advocate on the web team at Google, taking the sharp edges off new stuff & helping make
      the
      web better
      for developers! (he/him)</p>

    <div class="d-flex justify-content-evenly w-50 text-center mx-auto">
      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/github.jpg" width="32">
      </a>

      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/language.svg" width="32">
      </a>

      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/aws.jpg" width="32">
      </a>
    </div>
  </div>
</div>

<section>
  <div class="blog-section">

  </div>
</section>




<!-- <app-footer></app-footer> -->
