<app-navigation></app-navigation>

<div class="row  profile d-none">
  <div class="col-lg-5  mx-auto text-center">
    <img src="../assets/img/isaac.jpg" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>Developer Advocate on the web team at Google, taking the sharp edges off new stuff & helping make
      the
      web better
      for developers! (he/him)</p>

    <div class="d-flex justify-content-evenly w-50 text-center mx-auto">
      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/github.jpg" width="32">
      </a>

      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/language.svg" width="32">
      </a>

      <a href="https://petelepage.com" target="_blank" class="">
        <img alt="Homepage" height="32" src="../assets/img/aws.jpg" width="32">
      </a>
    </div>
  </div>
</div>

<section>
  <div class="blog-section d-none">

  </div>
</section>

<main class="container">
  <div class="row mt-4">
    <div class="col-lg-8 ">
      <a routerLink="how-to-use-java-streams-explained">
        <article class="blog-post shadow-sm">
          <h5 class="blog-post-meta d-flex ">&nbsp;<span>{{name}}</span>&nbsp;
            &nbsp;<span>Aug 9, 2022 &nbsp;&nbsp;</span>
          </h5>
          <a href="#">
            <h4 class="blog-post-title">How to Use Java Streams Explained.</h4>
          </a>

          <p>Streams are Java’s way of integrating functional programming with its object-oriented style. There are a
            lot
            of benefits to using streams in Java, such as the ability to write functions at a more abstract level which
            can reduce code bugs, compact functions into fewer and more readable lines of code, and the ease they offer
            for parallelization.... </p>
          <h5 class="blog-post-meta d-flex align-items-center">
            <span class="badge rounded-pill bg-light">Java</span>
            &nbsp;&nbsp;<span class="read-estimate">5 min read </span>
          </h5>
        </article>
      </a>


      <a href="#">
        <article class="blog-post shadow-sm">
          <h5 class="blog-post-meta d-flex ">&nbsp;<span>{{name}}</span>&nbsp;
            &nbsp;<span>Aug 9, 2022 &nbsp;&nbsp;</span>
          </h5>
          <a href="#">
            <h4 class="blog-post-title">Benefits of relational databases and when to use them.</h4>
          </a>

          <p>Streams are Java’s way of integrating functional programming with its object-oriented style. There are a
            lot
            of benefits to using streams in Java, such as the ability to write functions at a more abstract level which
            can reduce code bugs, compact functions into fewer and more readable lines of code, and the ease they offer
            for parallelization.... </p>
          <h5 class="blog-post-meta d-flex align-items-center">
            <span class="badge rounded-pill bg-light">Databases</span>
            &nbsp;&nbsp;<span class="read-estimate">5 min read </span>
          </h5>
        </article>
      </a>


      <a href="#">
        <article class="blog-post shadow-sm">
          <h5 class="blog-post-meta d-flex ">&nbsp;<span>{{name}}</span>&nbsp;
            &nbsp;<span>Aug 9, 2022 &nbsp;&nbsp;</span>
          </h5>
          <a href="#">
            <h4 class="blog-post-title">Understand the structure of an Angular application.</h4>
          </a>

          <p>Streams are Java’s way of integrating functional programming with its object-oriented style. There are a
            lot
            of benefits to using streams in Java, such as the ability to write functions at a more abstract level which
            can reduce code bugs, compact functions into fewer and more readable lines of code, and the ease they offer
            for parallelization.... </p>
          <h5 class="blog-post-meta d-flex align-items-center">
            <span class="badge rounded-pill bg-light">Angular</span>
            &nbsp;&nbsp;<span class="read-estimate">5 min read </span>
          </h5>
        </article>
      </a>

    </div>
    <div class="col-lg-4 d-none d-md-block d-lg-block">
      <app-sidebar></app-sidebar>
    </div>


  </div>
</main>
